.homeBackground {
  background-image: url("../background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.container {
  display: grid;
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  text-align: center;
}

.logo {
  position: absolute;
  top: 0;
  display: inline-block;
}

.copyright-align {
  float: right;
  position: relative;
  margin-bottom: 10px;
  margin-right: 5px;
  font-size: 14px;
}

.hr4 {
  height: 18px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgb(128, 81, 59);
  margin-left: 0.5px;
}

.fa {
  display: inline-block;
  padding: 15px;
  font-size: 20px;
  width: 50px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  position: relative;
  border-radius: 100%;
}

.fa:hover {
  opacity: 0.5;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-tab {
  margin-top: 3px;
  margin-bottom: 3px;
}

/* .box {
  top: 0;
  background-size: 100% 100%;
  height: 50px;
  width: 1880px;
  background: repeating-radial-gradient(
    circle at 0 0,
    rgb(213, 215, 221),
    rgb(180, 178, 63) 50px
  );
} */

body {
  padding: 0;
  margin: 0;
  font-family: Quicksand;
  font-size: 24px;
  background-image: url(../background.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgb(226, 200, 188);
  width: 100%;
  height: 100%;
  z-index: -1;
}

nav {
  position: fixed;
  font-family: Quicksand;
  font-size: 25px;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: 0.3s;
  background-color: #2b2729;
  opacity: 0.7;
}

nav.fade {
  background: #e1e3e6;
  height: 100px;
  padding: 10px 100px;
}

nav ul {
  font-size: 35px;
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
  margin: 0 auto;
}

nav ul li {
  list-style: none;
  padding: 5px 25px;
}

nav ul li a {
  line-height: 80px;
  font-weight: 600;
  color: #f0e8e8;
  padding: 14px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

nav.fade ul li a {
  color: #fff;
}

nav ul li a:focus {
  outline: none;
}

nav li .active {
  background-color: rgb(57, 63, 185);
}

nav li a:hover {
  background-color: #dfe1ee;
  margin: auto, 0;
  transition: 0.7s;
}

.content {
  margin-top: 80px;
  justify-content: center !important;
  align-content: center !important;
}

.content p {
  width: 900px;
  margin: 30px auto;
  text-align: justify;
  font-size: 18px;
  line-height: 30px;
}

.header {
  background-size: 100%;
  background-position: center;
  position: relative;
}

.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}
.feature-title {
  color: #333;
  font-family: Quicksand;
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.hide {
  display: none;
}

.text {
  text-align: center;
  font-family: Quicksand;
  font-weight: 600;
  font-size: 20px;
  padding: 1em;
}
.footertext {
  font-family: Quicksand;
  text-align: left;
  font-weight: 600;
}

.img5 {
  height: 160px;
  width: 205px;
  display: block;
  margin: 0 auto;
}
.img4 {
  height: 160px;
  width: 205px;
  display: block;
  margin: 0 auto;
}
.img3 {
  height: 160px;
  width: 205px;
  display: block;
  margin: 0 auto;
}
.img2 {
  height: 162px;
  width: 205px;
  display: block;
  margin: 0 auto;
}
.img1 {
  height: 160px;
  width: 205px;
  display: block;
  margin: 0 auto;
}

.stretch {
  width: 100%;
  height: 100%;
}

button {
  width: 220px;
  text-align: center;
  align-self: center;
}

/*vaccination passport login*/

input[type="text"],
input[type="file"],
input[type="date"],
input[type="checkbox"] {
  background: rgb(223, 220, 216);
  border: 3px solid rgb(167, 114, 62);
  border-radius: 10px;
  display: block;
}

.option-select {
  background: rgb(223, 220, 216);
  border: 3px solid rgb(167, 114, 62);
  border-radius: 10px;
}

select {
  background: rgb(223, 220, 216);
  border: 3px solid rgb(167, 114, 62);
  border-radius: 10px;
}

#clickHere {
  font-weight: 300;
  color: rgb(216, 218, 223);
}

#clickHere a:hover {
  background-color: rgb(190, 209, 82);
  opacity: 0.5;
}

/*modal*/
.bg-modal {
  width: 100%;
  height: 70%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  width: 700px;
  height: 600px;
  background-color: repeating-radial-gradient(
    circle at 0 0,
    rgb(213, 215, 221),
    rgb(180, 178, 63) 50px
  );
  opacity: 0.9;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 43px;
  transform: rotate(45deg);
  cursor: pointer;
}

/*FAQS*/
summary {
  font-size: 22px;
  font-family: Quicksand, sans-serif;
  color: rgb(241, 202, 202);
  background-color: rgb(70, 75, 156);
  font-weight: 700;
  padding: 1em;
  margin-top: 20px;
  margin-bottom: 1em;
  outline: none;
  border-radius: 0.25em;
  text-align: left;
  cursor: pointer;
  position: relative;
  width: 100%;
}

details > summary::after {
  position: absolute;
  content: "+";
  right: 50px;
}

details[open] > summary::after {
  position: absolute;
  content: "-";
  right: 50px;
}

details > summary::-webkit-details-marker {
  display: none;
}

p.summary {
  font-family: Quicksand, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

/*for mobile view*/
/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 568px) {
  div.container,
  div.features,
  nav {
    font-size: 16px;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 768px) {
  div.container,
  div.features,
  nav {
    font-size: 9px;
  }
  navbar-collapse {
    background-color: rgb(231, 215, 182);
  }
}
